<div>
  <ol id="list" style="display: flex; flex-wrap:wrap">
    {{#each elementos}}
    {{#if this}}
    <div class="card" style="width: 18rem; margin:2rem">
        <img src={{this.thumbnail}} class="card-img-top" alt="..."/>
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <p class="card-text">{{this.description}}</p>
          
        </div>
      </div>
    {{/if}}
    {{/each}}
  </ol>


  <form id="delete" action="">
    <div class="mb-3" style="width: 18rem; margin:2rem">
      <h1>Eliminar producto</h1>
    <label for="texto" class="form-label">ID del producto a eliminar</label>
    <input type="text" id="id" name="id" class="form-control"/>
    <button type="submit" class="btn btn-danger">Eliminar</button>
    </div>
  </form>

  <form id="create" action="">
    <div class="mb-3" style="width: 18rem; margin:2rem">
      <h1>Crear producto</h1>
    <label for="texto" class="form-label">Titulo</label>
    <input type="text" id="title" name="title" class="form-control"/>

    <label for="texto" class="form-label">Descripcion</label>
    <input type="text" id="description" name="description" class="form-control"/>

    <label for="texto" class="form-label">Precio</label>
    <input type="text" id="price" name="price" class="form-control"/>

    <label for="texto" class="form-label">Thumbnail</label>
    <input type="text" id="thumbnail" name="thumbnail" class="form-control"/>

    <label for="texto" class="form-label">Codigo</label>
    <input type="text" id="category" name="category" class="form-control"/>

    <label for="texto" class="form-label">Category</label>
    <input type="text" id="code" name="code" class="form-control"/>

    <label for="texto" class="form-label">Stock</label>
    <input type="text" id="stock" name="stock" class="form-control"/>

    <button type="submit" class="btn btn-primary">Crear</button>
    </div>
  </form>


</div>



<script src="/socket.io/socket.io.js"></script>


<script>
  const socket = io()

  const formAdd = document.getElementById('create')

  formAdd.addEventListener('submit', function (event) {
    event.preventDefault()


    const title = document.getElementById('title').value
    const description = document.getElementById('description').value
    const price = document.getElementById('price').value
    const thumbnail = document.getElementById('thumbnail').value
    const category = document.getElementById('category').value
    const code = document.getElementById('code').value
    const stock = document.getElementById('stock').value


    socket.emit('add', { title, description, price, thumbnail, category, code, stock })

  })


  const formDelete = document.getElementById('delete')

  formDelete.addEventListener('submit', function (event) {
    event.preventDefault()

    const id = document.getElementById('id').value
    console.log(id)
    socket.emit('delete', Number(id))


  })

  socket.on('newList', (data) => {
    const list = document.getElementById('list')
    let listProducts = '';

    data.map((item) => {
      if (item) listProducts += ` <div class="card" style="width: 18rem; margin:2rem">
        <img src=${item.thumbnail} class="card-img-top" alt="..."/>
        <div class="card-body">
          <h5 class="card-title">${item.title}</h5>
          <p class="card-text">${item.description}</p>
          
        </div>
      </div><br>`;
    })
    list.innerHTML = listProducts;
  })

  socket.on('deleteProduct',(data)=>{
    const list = document.getElementById('list')
    let listProducts = '';

    data.map((item) => {
      if (item) listProducts += ` <div class="card" style="width: 18rem; margin:2rem">
        <img src=${item.thumbnail} class="card-img-top" alt="..."/>
        <div class="card-body">
          <h5 class="card-title">${item.title}</h5>
          <p class="card-text">${item.description}</p>
          
        </div>
      </div><br>`;
    })
    list.innerHTML = listProducts;

  })

</script>